absl-py==2.2.2
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.14
aiohttp-retry==2.9.1
aiosignal==1.3.2
alabaster==1.0.0
alembic==1.15.2
altair==5.5.0
annotated-types==0.7.0
anyio==4.8.0
APScheduler==3.11.0
astunparse==1.6.3
attrs==25.3.0
autograd==1.7.0
autograd-gamma==0.5.0
autopep8==2.3.2
babel==2.17.0
backoff==2.2.1
beautifulsoup4==4.13.3
behave==1.2.6
blinker==1.9.0
cachetools==5.5.2
catboost==1.2.8
cattrs==24.1.3
certifi==2025.1.31
cffi==1.17.0rc1
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
click-default-group==1.2.4
cloudscraper==1.2.71
cmdstanpy==1.2.5
colorama==0.4.6
colorlog==6.9.0
contourpy==1.3.1
coverage==7.4.1
cryptography==42.0.4
cssselect==1.3.0
cycler==0.12.1
dash==3.0.4
dash-bootstrap-components==2.0.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dnspython==2.7.0
docutils==0.21.2
ecos==2.0.14
exceptiongroup==1.2.2
execnet==2.1.1
fake-useragent==2.1.0
Faker==37.0.2
fastapi==0.115.12
fasteners==0.19
filelock==3.18.0
Flask==3.0.3
flatbuffers==25.2.10
fonttools==4.56.0
formulaic==1.1.1
fp==0.2
free_proxy==1.1.3
frozenlist==1.5.0
gast==0.6.0
geographiclib==2.0
geopy==2.4.1
gitdb==4.0.12
GitPython==3.1.44
google-api-core==2.24.1
google-auth==2.38.0
google-cloud-core==2.4.2
google-cloud-storage==3.1.0
google-crc32c==1.6.0
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.69.1
graphviz==0.20.3
greenlet==3.1.1
grpcio==1.71.0
gunicorn==23.0.0
h11==0.14.0
h2==4.1.0
h5py==3.13.0
holidays==0.71
hpack==4.1.0
httpcore==1.0.7
httpx==0.25.2
Hypercorn @ git+https://github.com/urllib3/hypercorn@d1719f8c1570cbd8e6a3719ffdb14a4d72880abb
hyperframe==6.1.0
idna==3.10
imagesize==1.4.1
imbalanced-learn==0.13.0
importlib_metadata==8.6.1
importlib_resources==6.5.2
incremental==24.7.2
iniconfig==2.1.0
interface-meta==1.3.0
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
kaleido==0.2.1
keras==3.9.2
kiwisolver==1.4.8
libclang==18.1.1
lifelines==0.30.0
lightgbm==4.6.0
linkify-it-py==2.0.3
loguru==0.7.3
lxml==5.3.1
Mako==1.3.10
Markdown==3.8
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.1
mdit-py-plugins==0.4.2
mdurl==0.1.2
memray==1.16.0
ml_dtypes==0.5.1
-e git+ssh://git@github.com/HKcode22/DSFinalYearProject.git@3f8404f677bf01377a008f0a2357d97ff9ed5d3b#egg=MLPredictiveAnalysis
mock==1.3.0
multidict==6.2.0
mycdp==1.1.1
namex==0.0.9
narwhals==1.29.1
nest-asyncio==1.6.0
newsapi-python==0.2.7
numexpr==2.10.2
numpy==2.1.3
opt_einsum==3.4.0
optree==0.15.0
optuna==4.3.0
osqp==0.6.7.post3
outcome==1.3.0.post0
packaging==24.2
pandas==2.2.3
parameterized==0.9.0
parse==1.20.2
parse_type==0.6.4
pathlib==1.0.1
patsy==1.0.1
pbr==6.1.1
pdbp==1.7.0
pillow==11.1.0
platformdirs==4.3.7
playwright==1.51.0
plotly==6.0.0
pluggy==1.5.0
priority==2.0.0
propcache==0.3.0
prophet==1.1.6
proto-plus==1.26.0
protobuf==5.29.3
pyarrow==20.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycodestyle==2.13.0
pycoingecko==3.2.0
pycparser==2.22
pydantic==2.10.6
pydantic-settings==2.8.1
pydantic_core==2.27.2
pydeck==0.9.1
pyee==12.1.1
Pygments==2.19.1
PyJWT==2.10.1
pymongo==4.11.3
pynose==1.5.4
pyOpenSSL==24.0.0
pyotp==2.9.0
pyparsing==3.2.1
PySocks==1.7.1
pytest==8.3.5
pytest-html==4.0.2
pytest-memray==1.5.0
pytest-metadata==3.1.1
pytest-ordering==0.6
pytest-rerunfailures==15.0
pytest-socket==0.7.0
pytest-timeout==2.1.0
pytest-xdist==3.6.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.1
PyYAML==6.0.2
qdldl==0.1.7.post5
Quart==0.19.4
quart-trio==0.11.1
RapidFuzz==3.12.2
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-cache==1.2.1
requests-toolbelt==1.0.0
retrying==1.3.4
rich==13.9.4
roman-numerals-py==3.1.0
rpds-py==0.24.0
rsa==4.9
sbvirtualdisplay==1.4.0
schedule==1.2.2
scikit-learn==1.6.1
scikit-plot==0.3.7
scikit-survival==0.24.1
scipy==1.15.2
seaborn==0.13.2
selenium==4.31.0
selenium-stealth==1.0.6
seleniumbase==4.36.2
setuptools==78.1.0
six==1.17.0
sklearn-compat==0.1.3
smmap==5.0.2
sniffio==1.3.1
snowballstemmer==2.2.0
sodapy==2.2.0
sortedcontainers==2.4.0
soupsieve==2.6
Sphinx==8.2.3
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==2.0.40
stanio==0.5.1
starlette==0.46.2
statsmodels==0.14.4
stem==1.8.2
streamlit==1.45.0
tabcompleter==1.4.0
tenacity==9.1.2
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
termcolor==3.0.1
textual==2.1.2
thefuzz==0.22.1
threadpoolctl==3.5.0
toml==0.10.2
tornado==6.4.2
towncrier==23.6.0
tqdm==4.67.1
trio==0.29.0
trio-websocket==0.12.2
trustme @ git+https://github.com/python-trio/trustme@b3a767f336e20600f30c9ff78385a58352ff6ee3
twilio==9.5.1
typing_extensions==4.12.2
tzdata==2025.1
tzlocal==5.3.1
uc-micro-py==1.0.3
undetected-chromedriver==3.4.6
url-normalize==2.2.0
urllib3==1.26.20
uvicorn==0.34.2
webdriver-manager==4.0.2
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.0.6
wheel==0.45.1
wrapt==1.17.2
wsproto==1.2.0
xgboost==3.0.0
xxhash==3.5.0
yarl==1.18.3
ycombinator-scraper==0.7.4
zipp==3.21.0
